.container{
    height:450px;
    margin:0 auto;
    background-color:lightgray;
}
.col-4{
    margin-top:1.25rem;
    display:flex;
    justify-content:center;
}
.card{
    font-family:'monospace';
}